<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?useUnicode=true
            &amp;characterEncoding=utf8&amp;useSSL=false&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
            &amp;allowPublicKeyRetrieval=true&amp;createDatabaseIfNotExist=true</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">post123</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- Connection Pool -->
        <property name="C3P0_MIN_SIZE">5</property>
        <property name="C3P0_MAX_SIZE">10</property>
        <property name="C3P0_ACQUIRE_INCREMENT">1</property>
        <property name="C3P0_TIMEOUT">1800</property>
        <property name="C3P0_MAX_STATEMENTS">150</property>
        <property name="hibernate.c3p0.initialPoolSize">5</property>

        <!-- Registered Entities -->
        <mapping class="com.baseline.entity.many.to.many.ProductEntity" />
        <mapping class="com.baseline.entity.many.to.many.SupplierEntity" />
        <mapping class="com.baseline.entity.one.to.many.bi.PlaylistEntity" />
        <mapping class="com.baseline.entity.one.to.many.bi.UserEntity" />
        <mapping class="com.baseline.entity.one.to.many.uni.CustomerEntity" />
        <mapping class="com.baseline.entity.one.to.many.uni.OrderEntity" />
        <mapping class="com.baseline.entity.one.to.one.bi.ManagerEntity" />
        <mapping class="com.baseline.entity.one.to.one.bi.ManagerInfoEntity" />
        <mapping class="com.baseline.entity.one.to.one.sharedPK.biPk.EmployeeEntity" />
        <mapping class="com.baseline.entity.one.to.one.sharedPK.biPk.EmployeeDetailEntity" />
        <mapping class="com.baseline.entity.one.to.one.sharedPK.uniPK.BookEntity" />
        <mapping class="com.baseline.entity.one.to.one.sharedPK.uniPK.ManuscriptEntity" />
        <mapping class="com.baseline.entity.one.to.one.uni.AddressEntity" />
        <mapping class="com.baseline.entity.one.to.one.uni.PersonEntity" />
        <mapping class="com.baseline.entity.StudentEntity" />
    </session-factory>
</hibernate-configuration>
