<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?useUnicode=true
            &amp;characterEncoding=utf8&amp;useSSL=false&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
            &amp;allowPublicKeyRetrieval=true&amp;createDatabaseIfNotExist=true</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">post123</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <property name="C3P0_MIN_SIZE">5</property>
        <property name="C3P0_MAX_SIZE">10</property>
        <property name="C3P0_ACQUIRE_INCREMENT">1</property>
        <property name="C3P0_TIMEOUT">1800</property>
        <property name="C3P0_MAX_STATEMENTS">150</property>
        <property name="hibernate.c3p0.initialPoolSize">5</property>

        <mapping class="com.baseline.model.many.to.many.Product" />
        <mapping class="com.baseline.model.many.to.many.Supplier" />
        <mapping class="com.baseline.model.one.to.many.bi.Playlist" />
        <mapping class="com.baseline.model.one.to.many.bi.User" />
        <mapping class="com.baseline.model.one.to.many.uni.Customer" />
        <mapping class="com.baseline.model.one.to.many.uni.Order" />
        <mapping class="com.baseline.model.one.to.one.bi.Manager" />
        <mapping class="com.baseline.model.one.to.one.bi.ManagerInfo" />
        <mapping class="com.baseline.model.one.to.one.sharedPK.biPk.Employee" />
        <mapping class="com.baseline.model.one.to.one.sharedPK.biPk.EmployeeDetail" />
        <mapping class="com.baseline.model.StudentEntity" />

    </session-factory>

</hibernate-configuration>
